---
layout: default
---
<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
  </header>

  <article class="post-content">
    {{ content }}
    <p><em>Find this post useful? Share the love!</em>
<a href="https://twitter.com/share" class="twitter-share-button" data-via="bostonou" data-hashtags="clojurescriptjavascript">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    </p>
    <h2>Recent Posts</h2>
    <ul>
      {% for post in site.posts limit:6 %}
      {% if post.title != page.title %}
      <li><a href="{{ post.url }}">{{ post.title }}</a></li>
      {% endif %}
      {% endfor %}
    </ul>
    <script src="https://app.convertkit.com/landing_pages/2502.js"></script>
  </article>

</div>
